{% extends 'index.html.twig' %}

{% block title %}Criação de Formularios{% endblock %}

{% block content %}
	<div class="col p-3">
        <h1 class="">Descpacho de caminhão</h1>
        <div class="row">
          <div class="col-sm-3">
            <ul class="">
              <li><a href="forms/remand" class="text-dark">Devoluções</a></li>
              <li><a href="forms/freight-letter" class="text-dark">Carta Frete</a></li>
              <li><a><del>Etiquetas Por Cliente</del></a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul class="">
              <li><a href="forms/tag" class="text-dark">Etiquetas Manual</a></li>
              <li><a href="forms/receipt" class="text-dark">Recibos</a></li>
              <li><a href="forms/romaneio" class="text-dark">Romaneio</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul class="">
              <li><a href="forms/travel" class="text-dark">Viagem</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr class="text-success"></div>
        </div>
        <h1 class="">Pedido</h1>
        <div class="row">
        <div class="col-sm-3">
        <ul class="">
          <li><a href="forms/withdrawal" class="text-dark" >Autorização de Retirada</a></li>
          <li><del>Fatura</del></li>
          <li><del>Nota promissória</del></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="">
          <li><a href="/forms/order" class="text-dark">Ordem de pedido</a></li>
          <li><a href="/forms/receipt" class="text-dark">Recibo</a></li>
          <li></li>
        </ul>
      </div>
      </div>
    </div>
{% endblock %}
