{% extends 'index.html.twig' %}

{% block title %}Retirada de Urnas{% endblock %}

{% block errorMessage %}
  {% for message in app.flashes('error') %}
    <div class="alert alert-danger alert-dismissible fade show flash">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
{% endblock %}

{% block content %}
    <div class="col py-3 px-4">
        <div class="col-12">
          <h1 class="display-3">Autorizada de Retirada</h1>
          <hr> </div>
        <div class="row">
          <div class="col">
            <form method="POST" action="/forms/{{ formName }}">
              <div class="row">
                <div class="col">
                  <input type="submit" class="btn btn-primary btn-block" value="Criar Autorização de Retirada" id="send-form">
                  {% include 'components/csrftoken.html.twig' %}
                </div>
              </div>
                  <div class="my-1">
                  <fieldset class="border border-light">
                    <legend class="px-1 bg-light">Informações</legend>
                    <div class="row m-1">
                      <div class="col-md-12">
                        <div class="input-group my-1 w-100">
                          <div class="col-8">
                            <input type="text" class="form-control" id="clientName" name="clientName" placeholder="Nome do Cliente">
                          </div>
                          <div class="col-4">
                            <input type="text" class="form-control f-date" id="date" name="date">
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  </div>
              <div class="row py-2">
                <div class="col">
                  <fieldset class="border border-light">
                    <legend class="px-1 bg-light">Produtos</legend>
                    <div class="row m-1">
                      <div class="col-md-12">
                        <div class="input-group w-100">
                          <div class="col-7">Nome do Produto</div>
                          <div class="col-3"> Quantidade </div>
                        </div>
                        <div class="input-group my-1 w-100" id="cloneableField">
                          <div class="col-7">
                            <input type="hidden" input-number="true" value="1">
                            <input type="text" class="form-control my-1" placeholder="Nome" id="prdName" name="cloneableField0[prodName]" required> </div>
                          <div class="col-3">
                            <input type="text" class="form-control my-1" placeholder="Numero" id="amount" name="cloneableField0[amount]" required> </div>
                          <div class="col">
                          <button type="submit" class="btn btn-success" add-btn="true">
                            <span class="fas fa-fw fa-plus" add-btn="true"></span>
                          </button>
                          <button type="submit" class="btn mx-1 btn-danger" remove-btn="true">
                            <i class="fas fa-fw fa-times" remove-btn="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <div class="my-1">
                  <fieldset class="border border-light">
                    <legend class="px-1 bg-light">Observações</legend>
                    <div class="row m-1">
                      <div class="col-md-12">
                        <div class="input-group my-1 w-100">
                          <div class="col">
                            <textarea class="form-control" placeholder="Obeservação aqui" id="observation" name="observation"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endblock %}