{% extends 'headerTemplate.html.twig' %}

{% block body %}
    <div class="p-3">
        <ul class="">
            <label for="Objetivos">Objetivos</label>
            <li><input type="checkbox"> Fazer reserva de urnas atravez de pedidos 04/09/2018</li>
            <li><input type="checkbox" checked disabled> Criar visualização edição e remoção de produtos 03/09/2018</li>
            <li><input type="checkbox"> Refazer front end com um framework javascript, talvez react</li>
        </ul>
    </div>
{% endblock %}