{% extends 'index.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block content %}

		{%  
			set data = {
				chartId: 'number',
				titles: ['boletos', 'pedidos'],
				label: 'Quantidade',
				datas: [{% for a in amount %}{{ a }},{% endfor %}],
				titleText: '# titulos e pedidos de 2019',
				step: 85
			}
		%}
		{%  
			set data2 = {
				chartId: 'value',
				titles: ['boletos', 'pedidos'],
				label: 'Quantidade',
				datas: [{% for v in values %}{{ v }},{% endfor %}],
				titleText: 'valores de pedidos e titulos de 2019'
			}
		%}

<div class="p-4 col">
	<div class="row">
		<div class="col-md-6">
			{% include "components/simpleHorizontalBarChart.html.twig" with {'data': data} %}
		</div>
		<div class="col-md-6">
			{% include "components/simpleHorizontalBarChart.html.twig" with {'data': data2} %}
		</div>
	</div>
</div>
{% endblock %}
