{% extends 'index.html.twig' %}

{% block content %}
<div class="p-4 col">
	<p class="randomString">Random string</p>
	<p><small class="rlx"></small></p>
	{% include 'components/csrftoken.html.twig' %}
	<button class="btn btn-primary btn-lg change-token">Alterar csrftoken</button>
	<div class="col">
	{#<a href="https://google.com/google.jpg" data-fancybox data-caption="Caption for single image">
		<img src="https://google.com/google.jpg">
	</a>#}
	</div>
	<script>
	document.querySelector('.change-token').addEventListener('click', function (el) {
		el.preventDefault();
		var csrfToken = document.querySelector('.token')
		sendDataWithCsrf('POST', '/changeCsrf', null, csrfToken, function (response) {
			document.querySelector('.randomString').innerText = response.data;
		});
	});
	</script>
</div>
{% endblock %}
