{% extends 'index.html.twig' %}

{% block content %}
	<a href="https://google.com/google.jpg" data-fancybox data-caption="Caption for single image">
		<img src="https://google.com/google.jpg">
	</a>
{% endblock %}