{% extends "headerTemplatePrint.html.twig" %}
{% block body %}
    <table class="table table-bordered-black table-sm">
        <thead>
            <tr><th colspan="2" class="text-center">AUTORIZAÇÃO DE RETIRADA</th></tr>
            <tr><td colspan="2" class="text-center">DATA</td></tr>
            <tr>
                <td>Cliente</td>
                <td>NOMDE DO RAPAZ</td>
            </tr>
            <tr><td colspan="2" class="text-center">DESCRIÇÃO</td></tr>
            <tr>
                <td>QUANTIDADE</td>
                <td>MODELO</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>Overtune</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>30</td>
                <td>&nbsp;</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}