<div id="create-boleto" class="p-2 col-md-10" style="display: none; bottom: 50px">
    <h3>Criar novo titulo.</h3>
    <hr>
    <form id="newTitle" action="/report/boleto/create">
        <div class="form-group">
            <label for="inputCustomerName">Cliente</label>
            <input type="text" class="form-control" name="boletoCustomerOwner" placeholder="Nome do cliente">
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="boletoIdNumber">Identificador do Boleto</label>
                <input type="text" class="form-control" name="boletoNumber" placeholder="Identificador">
            </div>
            <div class="form-group col-md-4">
                <label for="boletoInstallment">Numero da parcela</label>
                <input type="text" class="form-control numbers-only" name="boletoInstallment" placeholder="Numeros apenas">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="boletoPriceValue">Valor do titulo</label>
                <input type="hidden" converted-value name="boletoInstallment">
                <input type="text" class="form-control numbers-float-only auto-float-convert-blur" auto-clear placeholder="Valor">
            </div>
            <div class="form-group col-md-6">
                <label for="">Data de Vencimento do Titulo</label>
                {# <input type="hidden" name="boletoVencimento" id="boletoVencimento"> #}
                <input type="text" class="form-control no-keypress calendar-selector" placeholder="Clique para Selecionar a Data Vencimento">
            </div>
        </div>
        <div class="form-group">
            {% include "components/csrftoken.html.twig" %}
            <button type="submit" class="btn btn-success btn-block" table-target="#newTitle">Adicionar Titulo</button>
        </div>
    </form>
</div>