<div id="create-boleto" class="p-2 col-md-10" style="display: none; bottom: 50px">
    <h3>Criar novo título.</h3>
    <hr>
    <form method="POST" id="newTitle" action="/report/boleto/create">
        <div class="form-group">
            <label for="inputCustomerName">Cliente</label>
            <input type="text" class="form-control" name="boletoCustomerOwner" placeholder="Nome do cliente" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="boletoIdNumber">Identificador do Título</label>
                <input type="text" class="form-control" name="boletoNumber" placeholder="Identificador" required>
            </div>
            <div class="form-group col-md-4">
                <label for="boletoInstallment">Numero da parcela</label>
                <input type="text" class="form-control numbers-only" name="boletoInstallment" placeholder="Numeros apenas" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="boletoPriceValue">Valor do título</label>
                <input type="hidden" converted-value name="boletoValue">
                <input type="text" class="form-control numbers-float-only auto-float-convert-blur" auto-clear placeholder="Valor" required>
            </div>
            <div class="form-group col-md-6">
                <label for="">Data de Vencimento do Título</label>
                {# <input type="hidden" name="boletoVencimento" id="boletoVencimento"> #}
                <input type="hidden" id="converted-date" name="boletoVencimento">
                <input type="text" class="form-control no-keypress calendar-selector" date-target="#converted-date" placeholder="Clique para Selecionar a Data Vencimento" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group">
            {% include "components/csrftoken.html.twig" %}
            <button type="submit" class="btn btn-success btn-block">Adicionar Título</button>
        </div>
    </form>
</div>