###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
/.phpintel
/.vscode
/.idea
/src/Migrations/*
!/src/Migrations/.keep
/public/form/*
!/public/form/.keep
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
