###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
/.phpintel
/.vscode
/.idea
/public/form/*
/phpdocker
docker-composer.yml
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
/public/report.pdf
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
/nbproject/private/

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
