<div class="d-none" id="in-prod">

        <div>
            <div class="row">
                <h2>Entrada de produtos</h2>
            </div>
            <div class="clearfix row">
                <div class="float-left col-md-3">
                    <h4>Produtos</h4>
                </div>
                <div class="float-right col-md-9 form-inline">
                    <h4>
                        <div class="input-group">
                            <span class="mx-2">Data</span>
                            <input type="text" sd="name" target="date" name="date" class="form-control date-mask" value="{{"now"|date( "d/m/Y")}}">
                        </div>
                    </h4>
                </div>
            </div>
            <div class="my-2">
                <input type="submit" send-fl="/storage/product/in" target="in-prod" class="btn btn-block btn-success" value="Enviar">
            </div>
        </div>
        <div class="form-inline my-1" clonefield="prod">
            <div class="col-md-12" clone-area="clone-area">
                <div class="my-2 row" sd="field" clone-field="clone-field">
                    <div class="col-md-5">
                        <select name="prod" class="form-control w-100" id="product">
                            <option value="" selected="selected" disabled="disabled">Nome do Produto</option>
                            {% for prod in prods %}
                                <option value="{{ prod.getId }}">{{ prod.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control w-100 numbers-only" id="amount" name="amount" required="required">
                    </div>
                    <div class="col">
                        <button class="btn btn-primary fas fa-plus" mk-clone="mk-clone"></button>
                        <button class="btn btn-danger fas fa-minus" rm-clone="rm-clone"></button>
                    </div>
                </div>
            </div>
        </div>
</div>
