<div class="py-4 col-md-11 d-none" id="add-prod">
    <form id="form-add">
        <div class="card">
            <div class="card-header">Cadastrar</div>
            <div class="card-body fitable">
                <div class="card-text fix-height">

                    <div class="row">
                        <div class="col-md-8">
                            <fieldset class="border border-light">
                                <legend class="bg-light px-1">Informações Básicas</legend>
                                <div class="col-md-12 py-2">
                                    <div class="form-group">
                                        <label for="productName" class="required">Nome do produto</label>
                                        <input type="text" class="form-control" name="name" placeholder="Insira o nome aqui" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="usedIn">Modelo</label>
                                        <input type="text" name="model" id="model" class="form-control" value="" placeholder="modelo">
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Descrição</label>
                                        <textarea class="form-control" name="description" placeholder="Descrição opcional"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="usedIn">Composição</label>
                                        <input type="text" name="type" class="form-control" value="criar um selecionador de varios modelos básicos">
                                    </div>

                            </fieldset>
                        </div>

                        <div class="col-md-4">
                            <fieldset class="border border-light px-1">
                                <legend for="unitAndAmount" class="bg-light">OUTRAS INFO.</legend>

                                    <div class="form-group">
                                        <label for="usedIn">Preço</label>
                                        <input type="text" name="price" id="price" class="form-control numbers-only" value="Apenas numeros">
                                    </div>

                                    <div class="form-group">
                                        <label for="colors">Cores</label>
                                        <select name="colors[]" class="d-none" id="colorsList" multiple="multiple" required></select>
                                        <div id="inputOtherVendors">
                                            <small>Aperte abaixo para incluir cores</small><br>
                                            <div class="input-group">
                                                <ul class="form-control py-1" target="colors" id="colorsGrid"></ul>
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="removeAll">x</span>
                                                </div>
                                            </div>
                                            <input type="text" class="d-none form-control my-1" id="colors" placeholder="Insira o nome e aprte ENTER">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="maxStock" class="required">Estoque Maximo</label>
                                        <input type="text" name="maxStock" class="form-control numbers-float-only" placeholder="Max" required="required">
                                    </div>

                                    <div class="form-group">
                                        <label for="maxStock" class="required">Estoque Mínimo</label>
                                        <input type="text" name="minStock" class="form-control numbers-float-only" placeholder="Min" required="required">
                                    </div>

                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <button class="btn btn-danget" onclick="$.fancybox.destroy()">Fechar</button>
                <button class="btn btn-primary" sendvt="/storage/feedstockAction">Adicionar</button>
            </div>
        </div>
    </form>
</div>