{% extends "index.html.twig" %}
{% block title %}Criar novo usuario.{% endblock %}
{% block content %}
    <div class="col px-3 py-4" id="addUser">
        <div class="col">
            <h2>Criar novo usuario</h2><hr>
        </div>
        <div class="col">
            <form method="POST" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="userNickname" class="required">Nome do usuario</label>
                                <input type="text" name="userNickname" class="form-control" placeholder="Nome para identificação" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="useremail" class="required">Email</label>
                                <input type="email" name="email" class="form-control" placeholder="Email do usuario" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="password" class="required">Senha</label>
                                <input type="password" name="password" class="form-control" id="pass" placeholder="senha com 8 digitos minimos" required>
                                <div class="invalid-feedback">
                                    Senha muito curta.
                                </div>
                                <div class="valid-feedback">
                                    Senha com tamanho compativel!
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="password" class="requried">Repetir senha</label>
                                <input type="password" name="retype" class="form-control" id="repass" placeholder="repita a senha" required>
                                <div class="invalid-feedback">
                                    Senha não confere.
                                </div>
                                <div class="valid-feedback">
                                    Senha compativel!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label>Imagem do perfil</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input ct-image-picker" name="profileImage" id="customFileLang">
                                <label class="custom-file-label uploadFileName" image-name="customFileLang" for="customFileLang">Selecionar arquivo</label>
                            </div>
                        </div>
                    </div>
                    {% include 'components/csrfToken.html.twig' with {'tokenText': 'add_user'} %}        
                    <input type="submit" id="triggerSend" value="não aperte nesse botão por favor" />
            </form>
        </div>
    </div>
    <div class="col-md-12 py-3 bg-light position-fixed ct-fixed-bottom">
        <input type="submit" class="btn btn-success btn-lg" onclick="triggerSubmit()" value="Cadastrar usuário" />
        <script>
            let submitButtom = document.getElementById('triggerSend');
            submitButtom.style.display = 'none';
            const triggerSubmit = () => {
                let event = new MouseEvent('click', { 
                    bubbles: true,
                    cancelable: true, 
                    view: window
                });
                
                let submitButtom = document.getElementById('triggerSend');
                submitButtom.dispatchEvent(event);
            }
        </script>
    </div>
{% endblock %}