{% extends 'index.html.twig' %}
{% block title %}Etiqetas Manual{% endblock %}
{% block content %}
  <div class="py-5 px-4 w-100">
  {% for message in app.flashes('message') %}
  <div class="alert alert-warning text-center" id="alert-rmv">
    <b>{{ message }}</b>
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-3">Etiquetas</h1>
    </div>
  </div>
  <hr>
  <form method="GET" action="/forms/{{ formName }}/print" id="action-form" target="_blank" />
    <div class="py-2">
      <div class="row">
        <div class="col-md-6">
          <input type="submit" class="btn btn-primary btn-block btn-lg" id="send-form" value="Criar etiquetas" />
        </div>
        <div class="col-md-6">
          <input type="submit" class="btn btn-danger btn-block btn-lg" id="send-pdf" value="Exportar pdf" />
        </div>
        {#
        <div class="col-md-4">
          <a class="btn btn-secondary btn-block btn-block btn-lg" href="/form/{{ formName }}">Novo</a>
        </div>
        #}
      </div>
    </div>
    <div class="py-3 text-center">
      <div class="container-fluid">
        <div class="row tag p-2">
          <div class="col-md-12 badge badge-light">
            <div class="input-group my-1 w-100" id="cloneableField">
              <div class="col">
                <input type="hidden" input-number="true" input-name="cloneableField" name="cloneableField0[row]" id="row" value="1">
                <input type="text" class="form-control mr-3 my-1 w-100" name="cloneableField0[name]" id="name" placeholder="Nome" autocomplete="off" required /></div>
                <div class="col-md-2">
                  <input class="form-control mr-3 my-1 w-100" name="cloneableField0[city]" placeholder="Cidade" id="city" />
                </div>
                <div class="col-md-2">
                  <input type="number" class="form-control mr-3 my-1" name="cloneableField0[amount]" placeholder="Quantidade" id="amount" required />
                </div>
                <div class="input-group col-md-2 my-1 ">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <input type="checkbox" id="checkbox">
                      <input type="hidden" value="0" id="check" name="cloneableField0[check]" />
                    </span>
                  </div>  
                    <input type="text" class="form-control" value="Casado?" disabled />
                </div>
                <button type="btn" class="btn mx-1 btn-success" add-btn="true">
                  <i class="fas fa-fw fa-plus" add-btn="true"></i>
                </button>
                <button class="btn mx-1 btn-danger" remove-btn="true">
                  <i class="fas fa-fw fa-times" remove-btn="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    </div>
    {% endblock %}