{% extends "index.html.twig" %}
{% block title %}Produção.{% endblock %}
{% block content %}
{% set obj = {
    id: 'production-report-side-bar',
    metalink: 'report',
    pageType: 'productionCount',
    listItens: [
        {
            disabled: true,
            link: 'add',
            class: 'modal-transform',
            text: 'Adicionar produção modal'
        },
        {
            disabled: true,
            link: 'make-report',
            class: 'modal-transform',
            text: 'Criar balanço do mês'
        },
        {
            link: 'check-all-entries',
            class: '',
            text: 'Ver todas as entradas'
        },
        {
            link: 'make-daily-report',
            class: 'modal-transform',
            text: 'Criar relatorio diario'
        }
    ]
} %}
{% include "components/simpleBar.html.twig" with obj %}
<div class="col px-3 py-5" id="addProdCount">
    <div class="col">
        <h2>Relatorios</h2>
        <hr>
    </div>
    <div class="row">
    {% set allD = [] %}
    {% set allM = [] %}
    {% set calendarDate = '' %}
    {% set calendarMonth = '' %}

    {# produção dos ultimos 30 dias #}
    {% for date, dataObj in dateChart %}
        {% set amount = 0 %}
        {% set calendarDate = date %}
        {% for obj in dataObj %}
            {% set amount = amount + obj.amount %}
        {% endfor %}
        {% set allD = allD|merge({ (calendarDate) : amount }) %}
    {% endfor %}
    {# produção dos ultimos 30 dias #}

    {# produção durante o mês #}
    {% for date, dataObj in monthChart %}
        {% set amount = 0 %}
        {% set calendarMonth = date %}
        {% for obj in dataObj %}
            {% set amount = amount + obj.amount %}
        {% endfor %}
        {% set allM = allM|merge({ (calendarMonth) : amount }) %}
    {% endfor %}
    {# /produção durante o mês #}

        <canvas class="col-6 d-inline" id="line-report">produção por mês</canvas>
        <canvas class="col-6 d-inline" id="bar-report">Produção das ultimas semanas</canvas>
        <canvas class="col-5 d-inline" id="line-report2">produção por modelo</canvas>
        <canvas class="col-5 d-inline" id="bar-report2">produção por modelos no mês</canvas>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                let bar = document.getElementById('line-report').getContext('2d');
                let barReport = new Chart(bar, {
                    type: 'line',
                    data: {
                        labels: [{% for chartDay, notUsed in allM %}"{{ chartDay | month_coverter }}",{% endfor %}],
                        datasets: [{
                            fill: 'boundary',
                            lineTension: 0,
                            label: 'produção por urmas',
                            pointBorderWidth: 21,
                            pointHitRadius: 82,
                            borderColor: 'blue',
                            pointBackgroundColor: 'red',
                            borderWidth: 3,
                            data: [{% for notUsed, chartData in allM %}'{{ chartData }}',{% endfor %}]
                        }],
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Produção por mês',
                            fontSize: 28
                        },
                        responsive: true,
                        legend: {
                            display: false,
                            position: 'bottom'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    stepSize: 500, // fazer por varaivel
                                    stacked: true
                                }
                            }]
                        },
                        plugins: {
                            labels: {
                                render: 'value'
                            }
                        }
                    }
                });
            })
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                let bar = document.getElementById('bar-report').getContext('2d');
                let barReport = new Chart(bar, {
                    type: 'bar',
                    data: {
                        labels: [{% for chartDay, notUsed in allD %}'{{ chartDay | date('d/m') }}',{% endfor %}],
                        datasets: [{
                            label: 'produção de urmas',
                            backgroundColor: 'rgba(255, 255, 0, 0.8)',
                            hoverBackgroundColor: 'rgba(255, 255, 0, 0.6)',
                            borderWidth: 1,
                            data: [{% for nonUsed, valueChart in allD %}{{ valueChart }},{% endfor %}]
                        }],
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Produção das ultimas semanas',
                            fontSize: 28
                        },
                        tooltips: {
                            enabled: true,
                        },
                        responsive: true,
                        legend: {
                            display: false,
                            position: 'bottom'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    stepSize: 30, // fazer por varaivel
                                    stacked: true
                                }
                            }]
                        },
                        plugins: {
                            labels: {
                                render: 'value'
                            }
                        }
                    }
                });
            })
        </script>
    </div>
    <div class="col fancybox">
        <div class="col-10" id="add" style="display: none"> {# cadastrar produção do dia #}
            <form action="/report/productionCount/create" method="post">
            {% include "components/csrfToken.html.twig" with {'tokenText':'autenticateBoleto'} %}
            <fieldset>
                <legend>Produção</legend>
                <div class="form-group col">
                    <input type="submit" class="btn btn-success btn-block disable-on-submit" value="registrar produção" />
                </div>
                <div class="input-group">
                    <div class="form-group col">
                        <label for="prodName" no-clone>Data da produção</label>
                        <input type="hidden" id="date-global" />
                        <input type="text" class="form-control no-keypress calendar-selector" id="replicate" date-target="#date-global" autocomplete="off" required />
                    </div>
                    <div class="form-group col-2">
                        <label for="calculator">Total da produção</label>
                        <div class="prod-calculator h4 mx-3">0</div>
                    </div>
                </div>
                <div class="input-group" id="cloneableField">
                    <input type="hidden" input-number='true' input-name="prodCount" value="0" />
                    <input type="hidden" class="replicate-date" name="prodCount0[date]" id="date" />
                    <div class="form-group col">
                        <label for="prodName" no-clone>Nome da urna</label>
                        <input type="text" class="form-control" name="prodCount0[name]" id="name" required />
                    </div>
                    <div class="form-group col">
                        <label for="prodName" no-clone>Quantidade</label>
                        <input type="text" class="form-control numbers-only" name="prodCount0[amount]" id="amount" required />
                    </div>
                    <div class="form-group col-2">
                        <label no-clone>&nbsp;</label><br no-clone>
                        <button class="btn btn-success" add-btn="true">
                            <span class="fas fa-fw fa-plus" add-btn="true"></span>
                        </button>
                        <button class="btn mx-1 btn-danger" remove-btn="true">
                            <i class="fas fa-fw fa-times" remove-btn="true"></i>
                        </button>
                    </div>
                </div>
            </fieldset>
            </form>
        </div>
        <div class="col fancybox" id="make-report" style="display: none"> {# relatorio de produção por intervalo de data #}
            <form method="post" action="/report/productionCount/monthBalance/print">
            <fieldset>
                <legend>Relatorio por intervalo de datas</legend>
                    <div class="form-group col">
                        <input type="submit" class="btn btn-success btn-block disable-on-submit disable-on-submit" value="criar relatorios por data" />
                    </div>
                    <div class="form-row col">
                        <div class="form-group col">
                            <label for="bregindate">Data de inicio</label>
                            <input type="hidden" id="begin-date" name="begin-date" />
                            <input type="text" class="form-control no-keypress calendar-selector" placeholder="Data de inicio" date-target="#begin-date" required />
                        </div>
                        <div class="form-group col">
                            <label for="bregindate">Data final</label>
                            <input type="hidden" id="last-date" name="last-date" />
                            <input type="text" class="form-control no-keypress calendar-selector" placeholder="Data final" date-target="#last-date" required />
                        </div>
                    </div>
            </fieldset>
            </form>
        </div>
        <div class="col fancybox" id="make-daily-report" style="display: none"> {# relatorio de produção por dia #}
            <form method="POST" action="/report/productionCount/mdr">
            <fieldset>
                <legend>Relatorio de produção</legend>
                    <div class="form-group col">
                        <input type="submit" class="btn btn-success btn-block disable-on-submit disable-on-submit" value="criar relatorio" />
                    </div>
                    <div class="form-row col">
                        <div class="form-group col">
                            <label for="bregindate">Data de inicio</label>
                            <input type="hidden" id="repo-date" name="repo-date" />
                            <input type="text" class="form-control no-keypress calendar-selector" placeholder="Data de inicio" date-target="#repo-date" required />
                        </div>
                    </div>
            </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}