{% extends "index.html.twig" %}
{% block title %}Produção.{% endblock %}
{% block content %}
{% set obj = {
    id: 'production-report-side-bar',
    metalink: 'report',
    pageType: 'productionCount',
    listItens: [
        {
            disabled: true,
            link: 'add',
            class: 'modal-transform',
            text: 'Adicionar produção modal'
        },
        {
            disabled: true,
            link: 'make-report',
            class: 'modal-transform',
            text: 'Criar relatório de produção'
        },
        {
            link: 'check-all-entries',
            class: '',
            text: 'Ver todas as entradas'
        }
    ]
} %}
{% include "components/simpleBar.html.twig" with obj %}
<div class="col px-3 py-5" id="addProdCount">
    <div class="col">
        <h2>Relatorios</h2>
        <hr>
    </div>
    <div class="col">
        to do => fazer os belos relatorios de produção :)
    </div>
    <div class="col fancybox">
        <div class="col-10" id="add" style="display: none">
            <form action="/report/productionCount/create" method="post">
            {% include "components/csrfToken.html.twig" with {'tokenText':'autenticateBoleto'} %}
            <fieldset>
                <legend>Produção</legend>
                <div class="form-group col">
                    <input type="submit" class="btn btn-success btn-block disable-on-submit" value="registrar produção" />
                </div>
                <div class="form-group col">
                    <label for="prodName" no-clone>Data da produção</label>
                    <input type="hidden" id="date-global" />
                    <input type="text" class="form-control no-keypress calendar-selector" id="replicate" date-target="#date-global" required />
                </div>
                <div class="input-group" id="cloneableField">
                    <input type="hidden" input-number='true' input-name="prodCount" value="0" />
                    <input type="hidden" class="replicate-date" name="prodCount0[date]" id="date" />
                    <div class="form-group col">
                        <label for="prodName" no-clone>Nome da urna</label>
                        <input type="text" class="form-control" name="prodCount0[name]" id="name" required />
                    </div>
                    <div class="form-group col">
                        <label for="prodName" no-clone>Nome da urna</label>
                        <input type="text" class="form-control numbers-only" name="prodCount0[amount]" id="amount" required />
                    </div>
                    <button class="btn btn-success my-3 py-2" add-btn="true">
                        <span class="fas fa-fw fa-plus" add-btn="true"></span>
                    </button>
                    <button class="btn mx-1 btn-danger my-3 py-2" remove-btn="true">
                        <i class="fas fa-fw fa-times" remove-btn="true"></i>
                    </button>
                </div>
            </fieldset>
            </form>
        </div>
        <div class="col fancybox" id="make-report" style="display: none">
            <form method="post">
            <fieldset>
                <legend>Relatorio por intervalo de datas</legend>
                    <div class="form-group col">
                        <input type="submit" class="btn btn-success btn-block disable-on-submit disable-on-submit" value="criar relatorios por data" />
                    </div>
                    <div class="form-row col">
                        <div class="form-group col">
                            <label for="bregindate">Data de inicio</label>
                            <input type="hidden" id="begin-date" name="begin-date" />
                            <input type="text" class="form-control no-keypress calendar-selector" placeholder="Data de inicio" date-target="#begin-date" required />
                        </div>
                        <div class="form-group col">
                            <label for="bregindate">Data final</label>
                            <input type="hidden" id="last-date" name="last-date" />
                            <input type="text" class="form-control no-keypress calendar-selector" placeholder="Data final" date-target="#last-date" required />
                        </div>
                    </div>
            </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}