{% extends 'index.html.twig' %}

{% block title %}Relatório de vendas{% endblock %}

{% block content %}
<div class="card">
    <div class="card-title">
        <div class="text-center py-2 h3">
            Relatorio Por mês
        </div>
    </div>
    <div class="card-body">
        <div>
            <form action="/report/sell/month" method="POST" target="_blank">
                <div class="form-group">
                    <label>Selecione o mês</label>
                    <input type="text" class="form-control no-keypress calendar-selector-month" placeholder="Selecione um mês" date-target="#month" />
                    <input type="hidden" id="month" name="month" />
                </div>
                {% include "components/csrfToken.html.twig" with {tokenText: 'monthReport'} %}
                <input type="submit" class="btn btn-success btn-block" value="Fazer relatório de vendas" />
            </form>
        </div>
    </div>
</div>

<div class="card my-2">
    <div class="card-title">
        <div class="text-center py-2 h3">
            Relatorio em um intervalo de datas
        </div>
    </div>
    <div class="card-body">
        <div>
            <form action="/report/sell/range" method="POST">
                <div class="form-group">
                    <label>Selecione o intervalo</label>
                    <input type="text" class="form-control no-keypress calendar-selector-month" placeholder="Selecione um mês" date-target="#month" />
                    <input type="hidden" id="month" name="month" />
                </div>
                {% include "components/csrfToken.html.twig" with {tokenText: 'rangeReport'} %}
                <input type="submit" class="btn btn-success btn-block" value="Fazer relatório de vendas" />
            </form>
        </div>
    </div>
</div>
{% endblock %}