{% extends "index.html.twig" %}

{% block title %}Permissões{% endblock %}

{% block content %}

<div class="px-4 py-3 col">   
    <div class="col">
        <h2>Alterar permissões de usuários</h2>
        <hr>
    </div>
    <div class="col">
        {% set roleList = [
            { k: 'ROLE_ADMIN', v: 'Administrador' }, 
            { k: 'ROLE_SUPER_USER', v: 'Super usuario' }, 
            { k: 'ROLE_USER', v: 'Usuario' }, 
            { k: 'ROLE_NINJA', v: 'ninja' }, 
            { k: 'ROLE_MASTER_MACHINE', v: 'Maquina Mestre' }, 
            { k: 'ROLE_MEGALOMANIAC', v: 'Megalomaniaco' }, 
            { k: 'ROLE_OVERLOAD', v: 'Carregador' }, 
            { k: 'ROLE_DEV', v: 'Dev' }, 
            { k: 'ROLE_MASTER_USER_OF_GALAXY', v: 'Mestre das Galaxias' }
        ] %}
        
        {% for user in users %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.userName }}</h5>
                        <div class="form-row">
                            {% for role in roleList %}
                            <div class="col-auto my-1">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" name="userRoles[]" value="{{ role.k }}" {% if role.k in user.roles %}checked=""{% endif %} />
                                    <label class="custom-control-label" for="role">{{ role.v }}</label>
                                </div>
                            </div>
                            {% endfor %}
                            <a href="#" class="btn btn-primary my-2">Alterar permissões do usuário</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>    

{% endblock %}