{% extends "index.html.twig" %}
{% block title %}Admin{% endblock %}
{% block content %}
    <div class="px-4 py-3 col" id="admin">
        <div class="col">
            <h2>Configurações administrativas</h2>
        <hr></div>
        <div class="col">
            <div class="col-md-12 m-1">
                <div class="card">
                    <div class="card-body row">
                        <div class="col-md-1 mx-1">
                            <i class="fas fa-user fa-4x"></i>
                        </div>
                        <div class="col">
                            <h5 class="card-title">Usuários</h5>
                            <p class="card-text">Cria e edita os atuais usuários do sistema.</p>
                            <a class="card-link text-primary" href="/admin/user">Visualizar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}