{% extends 'index.html.twig' %}

{% block title %}Registros{% endblock %}

    {% block content %}
        {% include '/components/notification.html.twig' %}
        {% include 'components/csrfToken.html.twig' with { 'tokenText': 'register' } %}
        <div class="custom-alert-message" role="alert" id="alert-message"></div>
        <div class="p-3">
            <div class="col">
                <h1>Registros</h1>
                <hr>
            </div>
            <div class="row col">
                <div class="m-1">
                    <div class="card" style="width: 14rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-fw fa-user"></i>&nbsp;Usuários</h5>
                            <p class="card-text">Cria e edita os atuais usuários do sistema.</p>
                            <a href="javascript:;" data-fancybox data-src="#" class="card-link text-primary">Visualizar</a>
                        </div>
                    </div>
                </div>
                <div class="m-1">
                    <div class="card" style="width: 14rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-fw fa-address-card"></i>&nbsp;Cliente</h5>
                            <p class="card-text">Cria e edita os atuais clientes do sistema.</p>
                            <a href="/person/customer" class="card-link text-primary">Criar</a>
                            <a href="javascript:;" data-fancybox data-src="#customer" load-table="pessoaJuridica" class="card-link text-primary">Visualizar</a>
                            <div id="customer" class="p-2" style="display: none">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nome</th>  
                                            <th scope="col">Cidade</th>
                                            <th scope="col">CNPJ</th>
                                        </tr>
                                    </thead>
                                    <tbody class="pessoaJuridica">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-1">
                    <div class="card" style="width: 14rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-fw fa-boxes"></i>&nbsp;Departamentos</h5>
                            <p class="card-text">Cria departamentos da empresa.</p>
                            <a href="javascript:;" data-fancybox data-src="#add-departament" class="card-link text-primary">Criar</a>
                            <a href="javascript:;" data-fancybox data-src="#departament" load-table="departament"  class="card-link text-primary">Visualizar e Editar</a>

                            {% include "components/windowPopup.html.twig" with {
                                'el' : {
                                    'name': 'add_departament',
                                    'metadata': 'departament',
                                    fields : {
                                        row: true,
                                        'name': 'reload',
                                        class: ['form-control', 'text-center'],
                                    }
                                }
                            } %}

                            <div id="add-departament" class="p-4" style="display: none">
                                Não há nada aqui ainda, mas logo logo vai ter algo :)
                            </div>

                            <div id="departament" class="p-4" style="display: none">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nome do departamento</th>
                                            <th scope="col">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody class="departament"></tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="m-1"> {# Forma de pagamento #}
                    <div class="card" style="width: 14rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-fw fa-boxes"></i>&nbsp;Formas de Pagamento</h5>
                            <p class="card-text">Lista de tipos.</p>
                            <a href="javascript:;" data-fancybox data-src="#add-paymentType" class="card-link text-primary">Criar</a>
                            <a href="javascript:;" data-fancybox data-src="#paymentType" load-table="paymentType" class="card-link text-primary">Visualizar e Editar</a>
                            <div id="paymentType" class="p-4" style="display: none">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Forma de Pagamento</th>
                                            <th scope="col">Parcelavel</th>
                                            <th scope="col">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody class="paymentType"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-1"> {# medidas #}
                    <div class="card" style="width: 14rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-fw fa-ruler"></i>&nbsp;Medidas</h5>
                            <p class="card-text">Cadastra unidades metricas.</p>
                            <a href="javascript:;" data-fancybox data-src="#add-unit" class="card-link text-primary">Criar</a>
                            <a href="javascript:;" data-fancybox data-src="#unit" load-table="unit" class="card-link text-primary">Visualizar e Editar</a>
                            <div id="unit" class="p-4" style="display: none">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nome da Medida</th>
                                            <th scope="col">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody class="unit"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-1"> {# tranportadora #}
                    <div class="card" style="width: 14rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-fw fa-ruler"></i>&nbsp;Transportadoras</h5>
                            <p class="card-text">Cadastra e visualizar transportadoras.</p>
                            <a href="javascript:;" data-fancybox data-src="#add-transporter" class="card-link text-primary">Criar</a>
                            <a href="javascript:;"data-fancybox data-src="#transporter" load-table="transporter" class="card-link text-primary">Visualizar e Editar</a>
                            <div id="transporter" class="p-2" style="display: none">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nome da Transportadora</th>
                                            <th scope="col">Nome Porto</th>
                                            <th scope="col">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody class="transporter"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {#<div class="m-1"> 
                    <div class="card" style="width: 14rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-fw fa-globe-americas"></i>&nbsp;Cidades</h5>
                            <p class="card-text">Cidades para onde serão feitas entregas.</p>
                            <a href="javascript:;" data-fancybox data-src="#municipio" class="card-link text-primary">Visualizar</a>
                        </div>
                    </div>
                </div>
                <div class="m-1">
                    <div class="card" style="width: 14rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-fw fa-globe-americas"></i>&nbsp;Estados</h5>
                            <p class="card-text">Adiministrar estados para entregas.</p>
                            {#<a href="#" data-action="add-" class="card-link text-primary">Criar</a>
                            <a href="javascript:;" data-fancybox data-src="#estado" class="card-link text-primary">Visualizar</a>
                        </div>
                    </div>
                </div> #}
            </div>
        </div>

    {% endblock %}
