{% extends 'index.html.twig' %}

{% block title %}Registros{% endblock %}

    {% block content %}
        <div class="custom-alert-message" role="alert" id="alert-message"></div>
        <div class="p-3">
            <div class="row">
                <h1>Registros</h1>
                <hr>
            </div>
            <div class="row">
                <div class="m-1">
                    <div class="card" style="width: 14rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-fw fa-user"></i>&nbsp;Usuários</h5>
                            <p class="card-text">Cria e edita os atuais usuários do sistema.</p>
                            <a href="#" class="card-link text-primary">Visualizar</a>
                        </div>
                    </div>
                </div>
                <div class="m-1">
                    <div class="card" style="width: 14rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-fw fa-address-card"></i>&nbsp;Cliente</h5>
                            <p class="card-text">Cria e edita os atuais clientes do sistema.</p>
                            <a href="/person/customer" class="card-link text-primary">Criar</a>
                            <a href="javascript:;" data-fancybox data-src="#customer" class="card-link text-primary">Visualizar</a>
                        </div>
                    </div>
                </div>
                <div class="m-1">
                    <div class="card" style="width: 14rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-fw fa-boxes"></i>&nbsp;Departamentos</h5>
                            <p class="card-text">Cria departamentos da empresa.</p>
                            <a href="javascript:;" data-fancybox data-src="#add-departament" class="card-link text-primary">Criar</a>
                            <a href="javascript:;" data-fancybox data-src="#departament" data-table="departament" class="card-link text-primary">Visualizar e Editar</a>
                        </div>
                    </div>
                </div>
                <div class="m-1">
                    <div class="card" style="width: 14rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-fw fa-boxes"></i>&nbsp;Formas de Pagamento</h5>
                            <p class="card-text">Lista de tipos.</p>
                            <a href="javascript:;" data-fancybox data-src="#add-paymentType" class="card-link text-primary">Criar</a>
                            <a href="javascript:;" data-fancybox data-src="#paymentType" data-table="paymentType" class="card-link text-primary">Visualizar e Editar</a>
                        </div>
                    </div>
                </div>
                <div class="m-1">
                    <div class="card" style="width: 14rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-fw fa-ruler"></i>&nbsp;Medidas</h5>
                            <p class="card-text">Cadastra unidades metricas.</p>
                            <a href="javascript:;" data-fancybox data-src="#add-unit" class="card-link text-primary">Criar</a>
                            <a href="javascript:;" data-fancybox data-src="#unit" class="card-link text-primary">Visualizar e Editar</a>
                        </div>
                    </div>
                </div>
                <div class="m-1">
                    <div class="card" style="width: 14rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-fw fa-ruler"></i>&nbsp;Transportadoras</h5>
                            <p class="card-text">Cadastra e visualizar transportadoras.</p>
                            <a href="javascript:;" data-fancybox data-src="#add-transporter" class="card-link text-primary">Criar</a>
                            <a href="javascript:;"data-fancybox data-src="#transporter" class="card-link text-primary">Visualizar e Editar</a>
                        </div>
                    </div>
                </div>
                <div class="m-1">
                    <div class="card" style="width: 14rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-fw fa-globe-americas"></i>&nbsp;Cidades</h5>
                            <p class="card-text">Cidades para onde serão feitas entregas.</p>
                            <a href="javascript:;" data-fancybox data-src="#municipio" class="card-link text-primary">Visualizar</a>
                        </div>
                    </div>
                </div>
                <div class="m-1">
                    <div class="card" style="width: 14rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-fw fa-globe-americas"></i>&nbsp;Estados</h5>
                            <p class="card-text">Adiministrar estados para entregas.</p>
                            {#<a href="#" data-action="add-" class="card-link text-primary">Criar</a>#}
                            <a href="javascript:;" data-fancybox data-src="#estado" class="card-link text-primary">Visualizar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include '/register/pages/departament.html.twig' with {'dptos': departament} %}
        {% include '/register/pages/unit.html.twig' with {'unit': unit} %}
        {% include '/register/pages/states.html.twig' with {'state': state} %}
        {% include '/register/pages/cities.html.twig' with {'city': city} %}
        {% include '/register/pages/customer.html.twig' with {'customer': customer} %}
        {% include '/register/pages/paymentType.html.twig' with {'types': payType} %}
        {% include '/register/pages/transporter.html.twig' with {'transporters': transporters} %}

    {% endblock %}
