{% extends 'index.html.twig' %}

{% block content %}
    {% include '/components/notification.html.twig' %}
    <div class="px-4 py-3 col-md-12" type="config">
        <div class="clearfix">
            <h1>Configurações</h1>
        </div>
        <form method="post" action="/register/configuration" enctype="multipart/form-data">
            <div class="row" id='conf'>
                <div class="bg-light col-md-12">
                    <fieldset>
                        <legend>Maque ou desmarque as opções</legend>
                    </fieldset>
                </div>
                <div class="p-2 col-md-12">
                    <div class="col-md-6">
                        <div class="bg-light col-md-12">
                            <fieldset>
                                <legend>Geral</legend>
                            </fieldset>
                        </div>
                        <div class="p-2 border border-light">
                            {% for key, value in draw.check %}
                                {{ value.name }}, {{ dump(value.label) }}
    {% endfor %}
{% endblock %}