<div id="add-person" class="col-md-11 py-4">
    <div class="card">
        <div class="card-header text-center">
            <span style="font-size: 25px">Adicionar Cliente</span>
        </div>
        <div class="card-body">
            <form method="post" action="/person/add/person" id="person-form">
                <fieldset class="p-1 border border-light">
                    <legend class="bg-light">
                        &nbsp;Informações de Proprietários
                        <span class="btn btn-primary btn-sm float-right m-1"><i class="fas fa-fw fa-plus"></i></span>
                    </legend>
                    <div class="px-1">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="firstName" class="required">Primeiro Nome</label>
                                <input type="text" class="form-control" name="person[firstName]" id="firstName" placeholder="Nome" required="required">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="firstName">Ultimo Nome</label>
                                <input type="text" class="form-control" name="person[lastName]" id="lastName" placeholder="Ultimo nome">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="firstName">Cpf</label>
                                <input type="text" class="form-control" name="person[cpf]" id="cpf" placeholder="Inserir apenas numeros">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="firstName">RG (Registro Geral)</label>
                                <input type="text" class="form-control" name="person[rg]" id="rg" placeholder="Inserir apenas numeros">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="birthData">
                                    <small>Data de Nascimento</small>
                                </label>
                                <input type="text" class="form-control" name="person[birthdate]" id="birthdate" placeholder="Data">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="firstName">Genero</label>
                                <select name="person[genre]" id="genre" class="form-control">
                                    <option selected="selected" disabled="disabled">Selecione</option>
                                    <option value="m">Masculino</option>
                                    <option value="f">Feminino</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row p-2">
                    <fieldset class="p-1 border border-light col-md-8">
                        <legend class="bg-light">&nbsp;Endereço</legend>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="road">Rua</label>
                                <input type="text" class="form-control" name="address[road]" id="road" placeholder="Rua x">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="road">Bairro</label>
                                <input type="text" class="form-control" name="address[neightborhood]" id="neightborhood" placeholder="Inserir aqui">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="road">Numero</label>
                                <input type="text" class="form-control" name="address[number]" id="number" placeholder="Numero">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <input type="text" class="form-control" name="address[cep]" id="cep" placeholder="CEP">
                            </div>
                            <div class="form-group col">
                                <select name="address[estado]" class="form-control" id="estado">
                                    <option selected disabled>Selecione Estado</option>
                                </select>
                            </div>
                            <div class="form-group col">
                                <select name="address[estado]" class="form-control" id="estado">
                                    <option selected disabled>Selecione Municipio</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="p-1 border border-light col-md-4">
                        <legend class="bg-light">&nbsp;Contato</legend>
                        <label for="numeber">Telefone</label>
                        <div class="form-inline my-1" cloneableField>
                            <div clone-area>
                            <div clone-field>
                                <input type="hidden" input-number='true' value="1">
                                <input type="text" class="form-control col-md-12 mx-1" id="phone" name="cloneableField0[phone]" placeholder="numero com ddd">
                                <button class="btn btn-primary fas fa-plus" add-btn></button>
                                <button class="btn btn-danger fas fa-minus" rmv-btn></button>
                            </div>
                            </div>
                        </div>
                        <label for="numeber" class="my-1">Email</label>
                        <div class="form-inline my-1" cloneableField>
                            <div clone-area>
                            <div clone-field>
                            <input type="hidden" input-number='true' value="1">
                            <input type="text" class="form-control col-8 mx-1" id="email" name="cloneableField0[email]" placeholder="email@domain.com">
                            <div>
                                <button class="btn btn-primary fas fa-plus" add-btn></button>
                                <button class="btn btn-danger fas fa-minus" rmv-btn></button>
                            </div>
                            </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                <input type="submit" class="btn btn-secondary w-50" send="/person/add/person" target="person-form" value="Adicionar">
            </form>
        </div>
    </div>
</div>