<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" type="text/css"></head>
  <title>{% block title %}{% endblock %}</title>
  {% block customStyle %}{% endblock %}
  <body>
  {% block body %}{% endblock %}
  <script src="{{ asset('build/app.js') }}"></script>
  {% block customJS %}{% endblock %}
</body>
</html>