{% extends 'headerTemplate.html.twig' %}

{% block body %}
  <header>
    <nav class="navbar-dark flex-md-nowrap shadow navbar top-navbar navbar-expand-md bg-dark navbar-dark py-0" style="z-index:101">
      <div class="navbar-header">
        <a class="navbar-brand text-white" href="/">Urnart</a>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="d-none d-md-block cursor-decoration" id="hideMenusNames">
          <i class="fas fa-2x fa-align-justify" id="hideMenusNames"></i>
        </li>
        <li class="d-md-none">
          <i class="fas fa-2x fa-cloud" id="showMenus"></i>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-left fas fa-sign-out-alt"></button>
      <div class="navbar-collapse text-center justify-content-end">
        <ul class="navbar-nav d-none d-sm-block">
          <li class="nav-item text-right">
            <a class="nav-link logout py-0" href="/logout">
              <i class="fas fw fa-sign-out-alt fa-lg logout"></i> Sair</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
<div class="custom-row">
  <nav class="col-2 bg-primary sidebar py-0 px-2" id="collapsible-sidebar">
    <div id="sidebar-icons" class="sidebar-sticky position-static bg-primary my-4">
      <ul class="list-unstyled" id="menus">
        <li class="my-1">
          <div class="my-1"> 
            <img src="{{ app.user is not same as(null) ? app.user.profileImage is not same as(null) ? vich_uploader_asset(app.user, 'profileImageFile') : '/defaultImage.jpg' : '/defaultImage.jpg' }}" style="width: 45px; height:40px" class="rounded-circle">
            <a href="/profile"><span class="text-right my-1">&nbsp;&nbsp;{{ app.user.userNickname ?? 'Nome do usuario' }}</span></a>
          </div>
        </li>
        <li class="noline text">
          <a href="/">
            <div class="d-flex align-items-center">
              <i class="fa fa-fw fa-home my-1 mx-2 side-icons" title="dashboard"></i>
              <span class="mx-3 my-1">&nbsp;&nbsp;Dashboard</span>
            </div>
          </a>
        </li>
        <li class="noline">
          <a href="/report">
            <div class="d-flex align-items-center">
              <i class="far fa-fw fa-file-alt my-1 mx-2 side-icons" title="relatorios"></i>
              <span class="mx-3 my-1">&nbsp;&nbsp;Relatórios</span>
            </div>
          </a>
        </li>
        <li class="noline">
          <a href="/order">
            <div class="d-flex align-items-center">
              <i class="fas fa-fw fa-shopping-cart my-1 mx-2 side-icons" title="pedido"></i>
              <span class="mx-3 my-1">&nbsp;&nbsp;Pedido</span>
            </div>
          </a>
        </li>
        <li class="noline">
          <a href="/forms">
            <div class="d-flex align-items-center">
              <i class="far fa-fw fa-sticky-note my-1 mx-2 side-icons" title="formularios"></i>
              <span class="mx-3 my-1">&nbsp;&nbsp;Formulários</span>
            </div>
          </a>
        </li>
        <li class="noline">
          <a href="/financeiro">
            <div class="d-flex align-items-center">
              <i class="fas fa-fw fa-calculator my-1 mx-2 side-icons" title="financeiro"></i>
              <span class="mx-3 my-1">&nbsp;&nbsp;Financeiro</span>
            </div>
          </a>
        </li>
        <li class="noline">
          <a href="/person">
            <div class="d-flex align-items-center">
              <i class="fas fa-fw fa-user my-1 mx-2 side-icons" title="cliente"></i>
              <span class="mx-3 my-1">&nbsp;&nbsp;Clientes</span>
            </div>
          </a>
        </li>
        <li class="noline">
          <a href="/storage">
            <div class="d-flex align-items-center">
              <i class="fas fa-fw fa-box-open my-1 mx-2 side-icons" title="estoque"></i>
              <span class="mx-3 my-1">&nbsp;&nbsp;Estoque</span>
            </div>
          </a>
        </li>
        <li class="noline">
          <a href="/register">
            <div class="d-flex align-items-center">
              <i class="fas fa-fw fa-address-card my-1 mx-2 side-icons" title="registros"></i>
              <span class="mx-3 my-1">&nbsp;&nbsp;Registros</span>
            </div>
          </a>
        </li>
        <li class="noline">
          <a href="/register/configuration">
            <div class="d-flex align-items-center">
              <i class="fas fa-fw fa-cog my-1 mx-2 side-icons" title="configuração"></i>
              <span class="mx-3 my-1">&nbsp;&nbsp;Configuração</span>
            </div>
          </a>
        </li>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li class="noline">
          <a href="/admin">
            <div class="d-flex align-items-center">
              <i class="fas fa-fw fa-tools my-1 mx-2 side-icons" title="admin"></i>
              <span class="mx-3 my-1">&nbsp;&nbsp;Admin</span>
            </div>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
<div id='message'></div>
{% include 'components/notification.html.twig' %}
{% block errorMessage %}{% endblock %}
<main class="col" id="content" style="margin-left: -24px">
  {% block content %}{% endblock %}
</main>
{% endblock %}
