<div class="form-input">
	<input type="hidden" id="p{{orderId}}" name="{{ inputName }}"/>
	<input type="text" class="form-control calendar-selector" date-target="#p{{ orderId }}" autofocus="false"/>
</div>
