{% extends 'index.html.twig' %}

{% block content %}
    <div class="bg-secondary">
        <div class="sidebar-sticky p-1">
            <ul class="list-unstyled">
                <li class="px-3"><span class="px-3 mx-3">&nbsp;</span></li>
                <li class="noline text">
                    <a href="/order/create">
                        <div class="d-flex align-items-center">
                            <span class="mx-1 my-2">&nbsp;&nbsp;Fazer Pedido</span>
                        </div>
                    </a>
                </li>
                <li class="noline">
                    <a> <!-- href="/person/customer" -->
                        <div class="d-flex align-items-center">
                            <span class="mx-1 my-2 disabled">&nbsp;&nbsp;Lista de pedidos</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
