{% extends 'index.html.twig' %}

{% block title %}Relátorios{% endblock %}

{% block content %}
<div class="py-4 my-1 px-3 col">
    <div>
        <h1>Relatorios </h1>
        <small>Clique no formúlario desejado</small>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <a href="#"{#href="/report/survey/"#} class="list-group-item list-group-item-action text-dark"><del>Pesquisa de satisfação</del></a>
                <a href="/boleto/index" class="list-group-item list-group-item-action">Relátorio de titulos</a>
                <a href="/report/productionCount" class="list-group-item list-group-item-action">Produção</a>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <a href="/truck" class="list-group-item list-group-item-action">Montar caminhão</a>
                <a class="list-group-item list-group-item-action">&nbsp;</a>
                <a class="list-group-item list-group-item-action">&nbsp;</a>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <a class="list-group-item list-group-item-action">&nbsp;</a>
                <a class="list-group-item list-group-item-action">&nbsp;</a>
                <a class="list-group-item list-group-item-action">&nbsp;</a>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
