{% extends 'index.html.twig' %}

{% block content %}
<h1 class="">Pedido n° 0001</h1>
        <hr>
        <div class="col-12">
          <form>
            <div class="row">
              <div class="col">
                <fieldset class="border border-light my-1">
                  <legend class="px-1 bg-light">Cadastro Básica</legend>
                  <div class="row m-1">
                    <div class="form-group col">
                      <label> Nome do cliente </label>
                      <input type="text" value="Nome do cliente" class="form-control"> </div>
                    <div class="form-group col">
                      <label> Cidade </label>
                      <input type="text" value="Cidade" class="form-control"> </div>
                    <div class="form-group col-2">
                      <label> Data </label>
                      <input type="date" value="Cidade" class="form-control"> </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <fieldset class="border border-light">
                  <legend class="px-1 bg-light">Produtos</legend>
                  <div class="row m-1">
                    <div class="col-md-12" id="tag">
                      <div class="input-group my-1 w-100">
                        <div class="col">
                          <input type="hidden" value="1">
                          <input type="text" class="form-control my-1" id="inlineFormInputGroup" placeholder="Urna"> </div>
                        <div class="col-3">
                          <input type="text" class="form-control my-1" placeholder="Cidade" id="inlineFormInputGroup"> </div>
                        <button type="submit" class="btn btn-success" add-btn="true">
                          <span class="fas fa-fw fa-plus" add-btn="true"></span>
                        </button>
                        <button type="submit" class="btn mx-1 btn-danger" remove-btn="true">
                          <i class="fas fa-fw fa-times" remove-btn="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="my-1 border border-light">
                  <legend class="px-1 bg-light">Valor total</legend>
                  <div class="row m-1">
                    <div class="col-12">
                      <div class="form-group">
                        <divl class="input-group">
                          <h3>Total Produtos&nbsp;</h3>
                          <h3>R$&nbsp;&nbsp;</h3>
                          <h3>10,00</h3>
                        </divl>
                        <divl class="input-group">
                          <h3>Valor Final &nbsp;</h3>
                          <h3>R$&nbsp;&nbsp;</h3>
                          <h3>10,00</h3>
                        </divl>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-4">
                <fieldset class="border border-light">
                  <legend class="px-1 bg-light">Forma de Pagamento e Frete</legend>
                  <div class="row m-1">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Seleciona a forma de pagamento</label>
                        <input type="text" class="form-control">
                        <small>Caso a opção seja putra seleciona outro</small>
                      </div>
                      <div class="form-group">
                        <label>Valor do frete</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                          </div>
                          <input type="number" class="form-control"> </div>
                      </div>
                      <div class="form-group">
                        <label>Desconto</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input type="checkbox" value="on"> </div>
                          </div>
                          <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                          </div>
                          <input type="number" class="form-control" disabled="">
                          <small>Caso exista algum desconto marque a opção</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <fieldset class="border border-light my-1">
                  <legend class="px-1 bg-light">Observações</legend>
                  <div class="row m-1">
                    <div class="form-group col">
                      <textarea class="form-control" value="escreve aqui"></textarea>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
{% endblock %}