{% extends 'index.html.twig' %}

{% block content %}
<div class="bg-secondary">
    <div class="sidebar-sticky p-1">
        <ul class="list-unstyled">
            <li class="px-3">
                <span class="px-3 mx-3">&nbsp;</span></li>
            <li class="noline text">
                <a href="/order/list?type=">
                    <div class="d-flex align-items-center">
                        <span class="mx-1 my-2">&nbsp;&nbsp;Ultimos Pedidos</span>
                    </div>
                </a>
            </li>
            <li class="noline text">
                <a href="/order/list?type=client">
                    <div class="d-flex align-items-center">
                        <span class="mx-1 my-2">&nbsp;&nbsp;Pedidos Por Cliente</span>
                    </div>
                </a>
            </li>
            <li class="noline">
                <a href="/order/list?type=open">
                    <div class="d-flex align-items-center">
                        <span class="mx-1 my-2 disabled">&nbsp;&nbsp;Pedidos Abertos</span>
                    </div>
                </a>
            </li>
            <li class="noline">
                <a href="/order/list?type=reserved">
                    <div class="d-flex align-items-center">
                        <span class="mx-1 my-2 disabled">&nbsp;&nbsp;Pedidos Reservados</span>
                    </div>
                </a>
            </li>
            <li class="noline">
                <a href="/order/list?type=closed">
                    <div class="d-flex align-items-center">
                        <span class="mx-1 my-2 disabled">&nbsp;&nbsp;Pedidos Fechados</span>
                    </div>
                </a>
            </li>
            <li class="noline">
                <a href="/order/list?type=">
                    <div class="d-flex align-items-center">
                        <span class="mx-1 my-2 disabled">&nbsp;&nbsp;Buscar Pedido</span>
                    </div>
                </a>
            </li>
            <li class="noline">
                <a href="/order/list?type=bydate">
                    <div class="d-flex align-items-center">
                        <span class="mx-1 my-2 disabled">&nbsp;&nbsp;Pedidos por data</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
	{% set list = '/order/lists/types/' ~ listType ~ '.html.twig' %}
	{% include list with {'orders': order} %}
{% endblock %}